.main-head{
    font-size: 40px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 50px;
    color: #6b930b;
    background-color: black;
    margin-right: 50px;
    padding-bottom: 18px;
    padding-top: 18px;
}
.head{
    color:white;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 18px;
    padding-top: 18px;
}